:root {
   --ACCENT_COLOR: #fab31e;
   --ACCENT_COLOR_RGB: 250, 179, 30;

   --BODY_COLOR: rgb(0, 0, 0);
   --AIR_COLOR: rgba(15, 15, 15, 0.85);
   --AIR_BLOCK_COLOR: rgba(45, 45, 45, 0.5);
   --AIR_SHADOW: 0px 3px 10px -3px rgb(0 0 0 / 50%);

   --AIR_CONTEXT_SHADOW_COLOR_START: rgb(53 51 61 / 30%);
   --AIR_CONTEXT_SHADOW_COLOR_END: rgb(6 6 8 / 70%);

   --BLOCK_COLOR: rgb(15, 15, 15);
   --BLOCK_COLOR_LITE: rgba(20, 20, 20, 0.7);
   --BLOCK_COLOR_LITE_TEXT: rgb(189 189 190);
   --BLOCK_BLOCK_COLOR: rgb(34, 34, 34);
   --BLOCK_BLOCK_COLOR_LITE: rgb(58 58 60 / 60%);
   --BLOCK_SHADOW: 0px 1px 2px -1px rgb(0 0 0 / 65%);

   --INPUT_COLOR: rgb(35, 35, 35);

   --BTN_TEXT_COLOR: #dbdbdb;
   --BTN_BACKGROUND: rgb(35 35 35);
   --BTN_CLOSE_COLOR: rgb(207 92 92 / 50%);

   --INTERACTION_BTN_COLOR: rgb(40 40 40 / 70%);
   --INTERACTION_BTN_TEXT_COLOR: rgb(255 255 255 / 70%);

   --GRADIENT_SHADOW: 0px 0px 9px -1px rgb(238 186 133 / 72%);

   --TITLE_COLOR: rgb(255 255 255);
   --TEXT_COLOR: rgb(233 233 233);

   --D_OR_P_COLOR: rgb(191 191 191);

   --REPLY_BG: linear-gradient(
      465deg,
      rgb(250, 179, 30, 40%),
      rgb(253, 147, 71, 40%)
   );
   --REPLY_SVG_COLOR: rgb(253, 147, 71, 70%);

   --LG_AIR_COLOR: rgb(55 55 55 / 50%);
   --LG_AIR_BORDER_COLOR: rgb(63 63 63 / 47%);
   --LG_AIR_TEXT_COLOR: #fff;
   --LG_AIR_BLOCK_COLOR: rgb(0 0 0 / 20%);
}

input[type='text']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
   color: rgb(193 192 199);
}

a {
   background-image: var(--GOLD_GRADIENT);
   -webkit-background-clip: text;
   color: transparent;
}

/* РРЅС‚РµСЂС„РµР№СЃ */

.UI-Logo {
   background-image: url('/static_sys/Images/GoldStar.svg');
   filter: drop-shadow(0px 0px 4px rgb(253 177 102 / 62%));
   -webkit-background-clip: unset;
}

.UI-FormButton,
.UI-AddPost .Buttons .Send,
.UI-Send {
   background: var(--GOLD_GRADIENT);
}

.UI-FormButton:hover,
.UI-AddPost .Buttons .Send:hover {
   outline: solid 2px rgb(238 186 133 / 72%);
}

.UI-Blur {
   background: rgb(0 0 0 / 23%);
}

.Notifications-NewNotification {
   background: rgb(43 43 43);
}

.UI-Switch {
   background: rgb(76 76 76 / 50%);
   border: 1px solid rgb(71 71 71 / 50%);
}

.UI-Switch-On {
   background: var(--GOLD_GRADIENT);
   border: 0px solid rgba(255, 255, 255, 0);
}

.slider.active {
   background: rgb(77 77 77);
   box-shadow: 0px 0px 3px rgb(40 40 40 / 60%);
}

.UI-PRELOAD {
   background: rgb(100 100 100);
}

.UI-PRELOAD::after {
   background: rgb(212 212 212 / 40%);
}

.UI-Tabs .Tab {
   color: rgb(145 145 145 / 70%);
}

.slider.active {
   color: var(--BTN_TEXT_COLOR);
}

.UI-PartitionName {
   color: rgb(255 255 255 / 70%);
}

.Authorization-BTN_2 {
   background: none;
}

/* РРЅС‚РµСЂС„РµР№СЃ - РўРµРєСЃС‚РѕРІС‹Р№ РёРЅРїСѓС‚ */

.UI-Input:hover,
.UI-Input:focus {
   outline: 2px solid rgb(62 62 62 / 50%);
}

.UI-GovernButtons .Container button {
   text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* РРЅС‚РµСЂС„РµР№СЃ - РћС€РёР±РєР° */

.UI-Window_BG {
   background: rgb(0 0 0 / 50%);
}

.UI-E_IMG {
   filter: contrast(1);
}

/* РџРѕСЃС‚ */

.UI-AddPost .Buttons .Send {
   box-shadow: var(--GRADIENT_SHADOW);
   -moz-box-shadow: var(--GRADIENT_SHADOW);
   -webkit-box-shadow: var(--GRADIENT_SHADOW);
}

button.Liked {
   background: var(--GOLD_GRADIENT);
   color: #fff !important;
   box-shadow: var(--GRADIENT_SHADOW);
   -moz-box-shadow: var(--GRADIENT_SHADOW);
   -webkit-box-shadow: var(--GRADIENT_SHADOW);
}

button.Liked svg {
   fill: #fff !important;
}

.Post .Image .Censoring,
.Blur {
   background: rgb(0 0 0 / 28%);
}

/* Р§Р°С‚ */

.Chat-Error_message {
   background: var(--BTN_BACKGROUND);
}

.Chat-M_URS {
   background: var(--BTN_BACKGROUND);
   color: #fff;
}

.Chat-M_Me .Loader,
.Chat-M_URS .Loader {
   background: var(--BTN_BACKGROUND);
}

/* РџР°РЅРµР»СЊ СѓРїСЂР°РІР»РµРЅРёСЏ */

.Dashboard-Block svg {
   fill: rgb(84 84 84);
}

.Dashboard-SK_NA {
   background: linear-gradient(
      90deg,
      var(--BTN_BACKGROUND) 60%,
      rgb(68 122 60) 100%
   );
}

.Dashboard-SK_A {
   background: linear-gradient(
      90deg,
      var(--BTN_BACKGROUND) 60%,
      rgb(106 48 48) 100%
   );
}

/* РќР°СЃС‚СЂРѕР№РєРё */

.Settings-CP_Cover .Settings-ChangeButtons .Button {
   background: rgb(56 56 56);
   color: #fff;
}

.Settings-CP_Cover .Settings-ChangeButtons .ButtonDL {
   color: #fff;
}

.UI-QuestionModal .Back {
   background: rgb(76 76 76 / 50%);
}

.Settings-CP_Input_container .Title {
   color: rgb(151 151 151);
}

/* РњСѓР·С‹РєР° */

.Music-FullPlayer_BG_Blur {
   background: rgb(39 39 39 / 40%);
}

.Music-SongPrev .Cover .CoverShadow {
   filter: blur(10px) brightness(0.6);
}

.Music-NoneCover {
   background: rgb(250 179 30 / 17%);
}

/* РџРѕРґРїРёСЃРєР° */

.GoldSub-User {
   background: linear-gradient(
      114deg,
      rgb(221 183 127 / 10%) 60%,
      rgb(112 89 42 / 60%)
   );
}

.GoldSub-Buttons {
   .Pay {
      box-shadow: 0px 0px 9px -1px rgb(147 89 31);
      -moz-box-shadow: 0px 0px 9px -1px rgb(147 89 31);
      -webkit-box-shadow: 0px 0px 9px -1px rgb(147 89 31);
   }

   .Activate {
      background: rgb(76 76 76 / 50%);
   }
}

@media only screen and (max-device-width: 768px),
   only screen and (device-width: 768px) and (device-height: 768px),
   only screen and (width: 768px) and (orientation: landscape),
   only screen and (device-width: 768px),
   only screen and (max-width: 768px) {
   .UI-L_NAV button {
      background: rgb(255 255 255 / 0%);
   }
}